*{
    font-family: 'Asul', sans-serif;
    
}

#hero-section {
    background-image: url(../images/black-background.jpg);
}

#hero-title {
    float: right;
}

.subtitle {
    line-height: 32px;
}

h1, h2 {
    font-size: 35px;
}

a{
    font-size: 25px;
    text-decoration: none;
}

.contact-info {
    font-size: 20px;
}

.contact-info:hover {
    font-size: 30px;
}

a:hover {
    font-size: 30px;
    
}

#profile-pic {
    width: 200px;
    align-items: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
    
}


