*{
    font-family: 'Asul', sans-serif;
    
}

h1, h2 {
    font-size: 35px;
}

a{
    font-size: 25px;
    text-decoration: none;
}

.contact-info {
    font-size: 20px;
}

.contact-info:hover {
    font-size: 30px;
}

a:hover {
    font-size: 30px;
    
}